*{
    box-sizing: border-box;
    margin: 0;
}
$lendsqrBlue: #213F7D;
$grey:#545F7D;
$green:#39CDCC;
@mixin centerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards{
    width: 100%;
    @include centerDiv();
    margin-top: 4vh;
    justify-content: space-between;

    .card{
        width: 15rem;
        height: 10rem;
        padding: 2vh 4vh;
        border: 1px solid rgba(33, 63, 125, 0.06);
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        gap: 2vh;

        img{
            width: 2.5rem;
        }
        h5{
            color: $grey;
            font-weight: 500;
            font-size: 0.9rem;
        }
        div{
            font-weight: 600;
            font-size: 1.5rem;
            color: $lendsqrBlue;
        }
    }
}
@media (max-width: 1000px) {
    .cards{
        flex-wrap: wrap;
        .card{
            width: 48%;
        }
    }
}
    
